<footer class="footer">
	<small>
		<a href="http://obamaiswatching.com/"> obamaiswatching </a>
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">Publicidad</a></li>
		</ul>
	</nav>
</footer>